# dependencies
/node_modules

# Next.js
/.next/
/out/

# production
/build

# serwist / service worker
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
/coverage
